<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kpu.item_realm">

    <application
        android:name="com.kpu.item_realm.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/kr_todolist"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/kr_todolist"
        android:supportsRtl="true"
        android:theme="@style/Theme.Todolist_Realm">
        <activity android:name="com.kpu.item_realm.EditActivity"></activity>
        <activity
            android:name="com.kpu.item_realm.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Todolist_Realm.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>